# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't ever lint self config file
.eslintrc.js
jest.config.js
# don't ever lint file for performance testing
/src/reportWebVitals.ts